/vendor
/node_modules
/.idea
/.vscode
/.phpunit.result.cache
/.env
/.env.*.backup
/.phpunit.result.cache
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*.php
npm-debug.log*
yarn-debug.log*
yarn-error.log*
phpunit.xml
phpunit.xml.dist
Homestead.json
Homestead.yaml
.vagrant
.DS_Store
Thumbs.db
.env.local
.env.testing
